---
interface Props {
  name: string;
  isOutline?: boolean;
}

const { name, isOutline = false } = Astro.props;
---

<span class={`pill ${isOutline ? "pill--outline" : ""}`}>{name}</span>

<style lang="scss">
  .pill {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    background-color: var(--color-primary);
    color: #fff;
    font-size: 0.75rem;
    text-wrap: nowrap;
    font-weight: 500;

    &--outline {
      background-color: transparent;
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
    }
  }
</style>
